body {
  background: #FCFCFC;
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #304FFE;
  text-decoration: none;
}
.content .outlines {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.circles {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.8s all ease-in;
  -webkit-transition: 0.8s all ease-in;
  -moz-transition: 0.8s all ease-in;
  -o-transition: 0.8s all ease-in;
}
.circles div {
  box-shadow: 0 0 0 0.1 RGBA(0, 0, 0, .05);
  border-radius: 50%;
  position: absolute;
  transition: 0.4s all ease-in;
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  -o-transition: 0.4s all ease-in;
}
.circles div:nth-of-type(1) {
  width: calc(.35 * 100vw);
  height: calc(.35 * 100vw);
  left: -8%;
  top: -8%;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
}
.circles div:nth-of-type(2) {
  width: calc(.25 * 100vw);
  height: calc(.25 * 100vw);
  right: -4%;
  top: 50%;
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
}
.circles div:nth-of-type(3) {
  width: calc(.5 * 100vw);
  height: calc(.5 * 100vw);
  right: 12%;
  top: 8%;
  transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
}
.circles div:nth-of-type(4) {
  width: calc(.1 * 100vw);
  height: calc(.1 * 100vw);
  left: 8%;
  bottom: -4%;
  transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
}
body.loaded .circles div {
  box-shadow: inset 0 0 0 4px RGBA(0, 0, 0, .05);
}

.content {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  position: fixed;
  left: 25px;
  top: 25px;
}
.content .outlines {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.content .outlines div {
  position: absolute;
  background: RGBA(0, 0, 0, .1);
  transition: 0.6s all ease-in;
  -webkit-transition: 0.6s all ease-in;
  -moz-transition: 0.6s all ease-in;
  -o-transition: 0.6s all ease-in;
}
.content .outlines div:nth-of-type(1) {
  top: 0;
  left: 0;
  height:2px;
  width: 0;
  transition-delay: 0;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
}
.content .outlines div:nth-of-type(2) {
  top: 2px;
  right: 0;
  width:2px;
  height: 0;
  transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
}
.content .outlines div:nth-of-type(3) {
  bottom: 0;
  right: 0;
  height:2px;
  width: 0;
  transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
}
.content .outlines div:nth-of-type(4) {
  bottom: 0;
  left: 0;
  height: 0;
  width: 2px;
  transition-delay: 1.8s;
  -webkit-transition-delay: 1.8s;
  -moz-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
}
body.ready .content .outlines div:nth-of-type(1) {
  width: 100%;
}
body.ready .content .outlines div:nth-of-type(2) {
  height: calc(100% - 4px);
}
body.ready .content .outlines div:nth-of-type(3) {
  width: calc(100% - 2px);
}
body.ready .content .outlines div:nth-of-type(4) {
  height: calc(100% - 2px);
}
#myName {
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
}
body.loaded #myName {
  opacity: 1;
}
.profilePicture {
  position: fixed;
  width: 100px;
  height: 100px;
  box-shadow: 0 6px 12px rgba(0,0,0,.15);
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  border-radius: 50%;
  background: RGBA(36, 59, 46, 1.00) url("../images/profilePicture@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.8s all cubic-bezier(0.4, 0, 0.2, 1.1);
  -webkit-transition: 0.8s all cubic-bezier(0.4, 0, 0.2, 1.1);
  -moz-transition: 0.8s all cubic-bezier(0.4, 0, 0.2, 1.1);
  -o-transition: 0.8s all cubic-bezier(0.4, 0, 0.2, 1.1);
  z-index: 999;
}
body.ready .profilePicture {
  box-shadow: 0 10px 18px rgba(0,0,0,.2);
}
body.ready .hiddenProfilePicture {
  height: 80px;
  width: 80px;
  opacity: 0;
}
body.ready .profilePicture, body.loaded .profilePicture {
  bottom: 60px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
body.loaded .profilePicture {
  box-shadow: 0 6px 12px rgba(0,0,0,.15);
}

.leftSide {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 50px 40px 50px 60px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
}
.leftSide p {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    margin: 0;
}
.leftSide p span {
    display: block;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transition: 0.3s all ease-in;
    -webkit-transition: 0.3s all ease-in;
    -moz-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
}
.leftSide p span:nth-of-type(1) {
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
}
.leftSide p span:nth-of-type(2) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
}
.leftSide p span:nth-of-type(3) {
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
}
body.loaded .leftSide p span {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
}
.leftSide p span:last-of-type {
  margin-bottom: 0;
}
.rightSide {
  width: calc(50% - 15px);
  min-height: calc(100% - 30px);
  top: 15px;
  left: 50%;
  position: absolute;
  margin-bottom: 15px;
  overflow: hidden;
  background: transparent;
  z-index: 100;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition-delay: 0.3s box-shadow;
  -webkit-ransition-delay: 0.3s -webkit-box-shadow;
  -moz-ransition-delay: 0.3s -moz-box-shadow;
  -o-ransition-delay: 0.3s -o-box-shadow;
}
body.loaded .rightSide {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .1);
  background: #FFF;
}
body.loaded .rightSide:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
}
.rightSideNav {
  height: 20px;
  position: absolute;
  top: 57px;
  left: 60px;
  width: calc(100% - 120px);
  padding-bottom: 30px;
}
.rightSideNav ul {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 100%;
  position: relative;
}
.rightSideNav ul:before {
  content: '';
  display:block;
  height: 1px;
  background: rgba(0,0,0,.07);
  bottom: -30px;
  position: absolute;
  width: 0;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}
body.loaded .rightSideNav ul:before {
  width: 100%;
}
.rightSideNav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
  color: rgba(0,0,0,.4);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  position: relative;
  transition: 0.2s color ease-in, 0.4s transform ease-in, 0.4s opacity ease-in;
  -webkit-transition: 0.2s color ease-in, 0.4s transform ease-in, 0.4s opacity ease-in;
  -moz-transition: 0.2s color ease-in, 0.4s transform ease-in, 0.4s opacity ease-in;
  -o-transition: 0.2s color ease-in, 0.4s transform ease-in, 0.4s opacity ease-in;

  /* load in effect */
  opacity: 0;
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -o-transform: translateY(6px);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
body.loaded .rightSideNav ul li {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
body.loaded .rightSideNav ul li a:before {
    content: '';
    width: 0;
    height: 2px;
    top: 10px;
    background: rgba(48, 79, 254, 0.6);
    position: absolute;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    left: 0;
}
body.loaded .rightSideNav ul li a:hover:before {
    width: 100%;
}
.rightSideNav ul li:nth-of-type(1) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
}
.rightSideNav ul li:nth-of-type(2) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
}
.rightSideNav ul li:nth-of-type(3) {
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
}
.rightSideNav ul li:nth-of-type(4) {
  transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
}
.rightSideNav ul li:hover {
  color: #555;
}
.rightSideNav ul li:active {
  opacity: 0.8;
}
.rightSideNav ul li:before {
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  bottom: -30px;
  background: #555;
  height: 2px;
  opacity: 0;
}
.rightSideNav ul li.activeNavItem {
  color: #555;
  cursor: default;
}
.rightSideNav ul li.activeNavItem:active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
}

body.loaded .rightSideNav ul li.activeNavItem:before {
  opacity: 1;
}
.rightSideNav ul li:last-of-type {
  margin-right: 0;
}
.rightSideNav ul li[name='work'] {
  position: absolute;
  right: 0;
  top: 0;
}
.rightSideContent {
  position: relative;
  margin-top: 107px;
  width:100%;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  padding: 40px 60px;
  opacity: 0;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -o-transform: translateY(10px);
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
}
body.loaded .rightSideContent {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
.rightSideContent h5 {
  margin: 0;
  padding: 0;
}
.rightSideContent h5 a {
  padding: 20px;
  background: rgba(80, 227, 165, 1);
  color: white;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin: 0 0 40px;
  line-height: 24px;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}
.rightSideContent h5 a:hover {
  box-shadow: 0 6px 10px rgba(0,0,0,.15);
}
.rightSideContent h5 a {
  color: white;
  display: block;
}
.rightSideContent h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    width: 100%;
    letter-spacing: 2px;
    margin: 0 0 20px;
    color: #555;
}
.rightSideContent ul {
  margin: 0 0 30px;
  padding: 0;
  border: 1px solid rgba(0,0,0,.1);
  padding: 0;
  background: rgba(0,0,0,.02);

  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}
.rightSideContent ul:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,.08);
}
.rightSideContent ul:last-of-type {
  margin-bottom: 0;
}
.rightSideContent ul li.listItemWithLink {
  background-image: url('../images/external_link.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}
.rightSideContent ul li.listItemWithLink, .rightSideContent ul li.listItemWithLink span {
  cursor: pointer;
}
.rightSideContent ul li {
  list-style-type: none;
  display: block;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 15px 50px 15px 20px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}
.rightSideContent ul li:last-of-type {
  border-bottom-width: 0;
}
.rightSideContent ul li:hover {
  background-color: #FAFAFA;
}
.rightSideContent ul li:hover a {

}
.rightSideContent ul li span {
  display: block;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.1px;
}
.slideContainer {
  position: relative;
  overflow: visible;
}
.slideContainer .rightSideSlide {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  opacity: 0;

  transition: 0.2s all ease-in;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  z-index: 2;
}
.slideContainer .rightSideSlide.activeSlide {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  z-index: 999;
}
.slideContainer .rightSideSlide:last-of-type {
}


footer {
  bottom: 72px;
  height: 20px;
  left: 85px;
  position: fixed;
  min-width: 400px;
}
footer ul {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
}
footer ul li {
  list-style-type: none;
  display: inline-block;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-right: 6px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  transition: 0.4s all ease-in;
  -webkit-transition: 0.4s all ease-in;
  -moz-transition: 0.4s all ease-in;
  -o-transition: 0.4s all ease-in;
  opacity: 0;
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -o-transform: translateY(6px);
}
footer ul li:last-of-type {
  margin-right: 0;
}
footer ul li.liDot {
  opacity: 0;
  transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
}
footer ul li a {
  text-decoration: none;
  position: relative;
}
body.loaded footer ul li {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
body.loaded footer ul li.liDot {
  opacity: 0.1;
}
footer ul li a:nth-of-type(1) {

}
footer ul li:nth-of-type(3) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
}
footer ul li:nth-of-type(5) {
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
}
footer ul li:nth-of-type(7) {
  transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
}
footer ul li a:before {
    content: '';
    width: 0;
    height: 2px;
    top: 10px;
    background: rgba(48, 79, 254, 0.6);
    position: absolute;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    left: 0;
}
footer ul li a:hover:before {
    width: 100%;
}
